@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
  @include scrollBar
}

html, body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td, fieldset {
  margin: 0;
  padding: 0
}

ul, ol, dl {
  list-style-type: none
}


#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

i, b, em {
  font-style: normal;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: $theme-color !important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active:hover {
  color: #ffffff !important;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: $theme-color !important;
}

.el-image {
  width: 100%;
  height: 100%;
  .el-image__inner {
    object-fit: cover;
  }
  .image-slot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 24px;
    color: #C0C4CC;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}
